footer {
  width: 100%;
  height: 40px;
  margin-top: 80px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  text-align: center;
  background:#0d7fe344;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

footer .footer__copyright h4 {
  margin: 0 25px;
  font-weight: 500;
}

@media (max-width: 750px) {
  footer {
    height: 110px;
  }
}
